@keyframes black-white {
  0% {
    background-color: red; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue; }
  100% {
    background-color: green; } }
body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 25vw;
  transition: margin 1s;
  overflow: hidden; }

.ground {
  background-color: #00943E;
  min-height: 100vh;
  display: flex;
  justify-content: center; }
  .ground .left-side {
    position: fixed;
    top: 40px;
    left: 0;
    width: 25vw;
    height: 80vh;
    max-height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
    transition: left 1s; }
    .ground .left-side .title {
      position: absolute;
      top: -32px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
      border-top-right-radius: 20px;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 100%; }
    .ground .left-side #btn-expand-left {
      position: absolute;
      top: 0px;
      right: -40px;
      background-color: rgba(255, 255, 255, 0.8);
      color: blue;
      border: 0;
      padding: 4px 16px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px; }
    .ground .left-side.hide {
      left: -25vw; }
    .ground .left-side .navigation {
      position: absolute;
      bottom: -29px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
      border-bottom-right-radius: 20px;
      padding: 4px 0; }
      .ground .left-side .navigation button {
        background-color: #DE1515;
        margin: 0 2px;
        padding: 2px 10px 4px 10px;
        color: #ffffff;
        border-radius: 20px;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5); }
  .ground .right-side {
    position: fixed;
    top: 40px;
    right: 0;
    width: 25vw;
    height: 80vh;
    max-height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 16px;
    transition: right 1s; }
    .ground .right-side .title {
      position: absolute;
      top: -32px;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      text-align: center;
      border-top-right-radius: 20px;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 100%; }
    .ground .right-side #btn-expand-right {
      position: absolute;
      top: 0px;
      left: -40px;
      background-color: rgba(255, 255, 255, 0.8);
      color: blue;
      border: 0;
      padding: 4px 16px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    .ground .right-side.hide {
      right: -25vw; }
  .ground .main-ground {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white; }
    .ground .main-ground > div {
      width: 100%;
      margin: 16px; }
    .ground .main-ground .image {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .ground .main-ground .image img {
        width: 200px;
        height: auto;
        min-height: 200px;
        border-radius: 20px; }
        .ground .main-ground .image img.catch {
          animation-name: black-white;
          animation-duration: 1s;
          animation-iteration-count: 5; }
    .ground .main-ground .name {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px; }
    .ground .main-ground .moves-container {
      min-height: 140px;
      max-height: 140px;
      overflow-y: auto; }
    .ground .main-ground #selected-moves {
      width: 100%;
      border-collapse: separate;
      border-spacing: 4px; }
      .ground .main-ground #selected-moves th, .ground .main-ground #selected-moves td {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        color: black;
        padding: 0 16px; }
        .ground .main-ground #selected-moves th:nth-child(1), .ground .main-ground #selected-moves td:nth-child(1) {
          text-align: center; }
    .ground .main-ground div.section-title {
      padding: 4px;
      border-bottom: 2px solid white;
      margin-bottom: 4px; }
    .ground .main-ground .types-container {
      display: flex;
      flex-wrap: wrap;
      min-height: 24px; }
      .ground .main-ground .types-container > div {
        margin: 2px;
        text-align: center;
        padding: 0 16px;
        background-color: #DE1515;
        border: 1px solid rgba(255, 255, 255, 0.8);
        color: white;
        border-radius: 20px;
        font-size: 12px; }

.pokemon-list {
  overflow-y: auto;
  border-radius: 20px;
  max-height: 100%;
  padding: 0 6px; }
  .pokemon-list .pokemon-card {
    position: relative;
    margin: 16px auto;
    border-radius: 20px;
    background-color: rgba(218, 232, 255, 0.8);
    width: 100%;
    padding-top: 100%; }
    .pokemon-list .pokemon-card img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 75%;
      max-width: 75%;
      transform: translate(-50%, -50%); }
    .pokemon-list .pokemon-card .name {
      position: absolute;
      bottom: 4px;
      text-align: center;
      width: 100%; }
    .pokemon-list .pokemon-card .counter {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: #DE1515;
      color: white;
      padding: 2px 6px;
      font-size: 10px;
      border-radius: 10px; }

.poke-ball {
  position: relative;
  background-color: #DE1515;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  color: white; }
  .poke-ball::before {
    position: absolute;
    top: 15px;
    content: "";
    border-bottom: 1.5px solid white;
    width: 100%; }
  .poke-ball::after {
    position: absolute;
    bottom: -20px;
    content: "catch"; }
  .poke-ball#btnRelease {
    background-color: black; }
    .poke-ball#btnRelease::after {
      position: absolute;
      bottom: -20px;
      content: "Release"; }

@media only screen and (min-width: 600px) {
  body {
    margin-left: 14vw; }

  .left-side, .right-side {
    width: 14vw !important; }

  .left-side.hide {
    left: -14vw !important; }

  .right-side.hide {
    right: -14vw !important; }

  .main-ground {
    width: 600px !important; } }
@media only screen and (min-device-width: 600px) {
  body {
    margin-left: 14vw; }

  .left-side, .right-side {
    width: 14vw !important; }

  .left-side.hide {
    left: -14vw !important; }

  .right-side.hide {
    right: -14vw !important; }

  .main-ground {
    width: 600px !important; } }
@media only screen and (min-width: 992.4px) {
  body {
    margin-left: 10vw; }

  .left-side, .right-side {
    width: 10vw !important; }

  .left-side.hide {
    left: -10vw !important; }

  .right-side.hide {
    right: -10vw !important; } }
@media only screen and (min-device-width: 992.4px) {
  body {
    margin-left: 10vw; }

  .left-side, .right-side {
    width: 10vw !important; }

  .left-side.hide {
    left: -10vw !important; }

  .right-side.hide {
    right: -10vw !important; } }
@media only screen and (min-width: 1200.4px) {
  body {
    margin-left: 8vw; }

  .left-side, .right-side {
    width: 8vw !important; }

  .left-side.hide {
    left: -8vw !important; }

  .right-side.hide {
    right: -8vw !important; } }
@media only screen and (min-device-width: 1200.4px) {
  body {
    margin-left: 8vw; }

  .left-side, .right-side {
    width: 8vw !important; }

  .left-side.hide {
    left: -8vw !important; }

  .right-side.hide {
    right: -8vw !important; } }

/*# sourceMappingURL=main.css.map */
